---
import Dev from "./logos/Dev.astro";
import Link from "./logos/Link.astro";
import Angular from "./logos/AngularLogo.astro";
import Githup from "./logos/Githup.astro";
import Css from "./logos/Css.astro";
import Ionic from "./logos/Ionic.astro";
import Boton from "./Boton.astro";
import Tyscript from "./logos/Tyscript.astro";
import Java from "./logos/Java.astro";
import Spring from "./logos/Spring.astro";
import Html from "./logos/Html.astro";
import Javascript from "./logos/Javascript.astro";
import Mysql from "./logos/Mysql.astro";

import { getI18N } from "@/i18n";

const {currentLocale} = Astro;
const i18n = getI18N({currentLocale});

const { id } = Astro.props;

const proyect = [
  {
    img: "/img/egresados.jpg",
    title: "Egresado UASD",
    tags: [
      {
        name: "Ionic",
        logo: Ionic,
      },
      {
        name: "Angular",
        logo: Angular,
      },
      {
        name: "Css",
        logo: Css,
      },
      {
        name: "Tyscript",
        logo: Tyscript,
      },
    ],
    description:
      "Mobile application to showcase the skills and experiences of UASD graduates, created from scratch with ionic, angular and design with css",
    link: "https://egresados.uasd.edu.do",
    githup: "https://github.com/ericmguzmanc/egresados-uasd",
    class: "disabled",
  },
  {
    img: "/img/segurosDaniel.webp",
    title: "Inquire about insurance policies",
    tags: [
      {
        name: "Java",
        logo: Java,
      },
      {
        name: "Spring",
        logo: Spring,
      },
      {
        name: "Css",
        logo: Css,
      },
      {
        name: "Html",
        logo: Html,
      },
      {
        name: "Javascript",
        logo: Javascript,
      },
      {
        name: "Mysql",
        logo: Mysql,
      },
    ],
    description:
      "FullStack developed to query a database, where if you enter an insurance policy it will show you who owns the policy, vehicles associated with that policy and expiration time.",
    link: "",
    githup: "",
    class: "disabled",
  },
];
---

<section id={id}>
  <div class="title">
    <Dev />
    <h1>{i18n.TITLE_PROJECTS}</h1>
  </div>
  {
    proyect.map((proyect, index) => (
      <div class="card">
        <div class="img-cont">
          <div class="img-proyect">
            <img src={proyect.img} alt={proyect.title} />
          </div>
        </div>
        <div class="info">
          <h2>{proyect.title}</h2>
          <div class="bages">
            {proyect.tags.map((tag) => (
              <span>
                <tag.logo width="24" height="20" />
                {tag.name}
              </span>
            ))}
          </div>
          <p>{proyect.description}</p>
          <div class="btn">
            <Boton href={proyect.link} target="_blank" class=`${proyect.class}`>
              <Link slot="logo" />
              <p slot="text">View Proyect</p>
            </Boton>
            <Boton href={proyect.githup} target="_blank">
              <Githup slot="logo" width="24" height="24" />
              <p slot="text">Githup</p>
            </Boton>
          </div>
        </div>
      </div>
    ))
  }
</section>

<style>
  .title {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .card {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .btn {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    margin-top: 1rem;
  }
  .bages {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    margin: 10px;
    padding: 10px;
  }
  img-cont {
    width: 100%;
    height: 100%;
  }
  .img-proyect {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: span 6;
    grid-row: span 5;
    transition:
      duration 0.5s ease-in-out,
      transform 0.5s ease-in-out;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    border-radius: 1rem;
    @media (max-width: 639px) {
      border-radius: 0.5rem;
    }
    &:hover {
      @media (min-width: 768px) {
        transform: translateY(-10px); /* Adjust hover transform as desired */
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
      }
    }
  }
  img {
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 18rem; /* Adjust height as needed */
    transition: duration 0.5s ease-in-out;
    @media (max-width: 639px) {
      height: auto;
    }
    &:hover {
      @media (min-width: 768px) {
        transform: scale(1.1); /* Adjust hover scale as desired */
      }
    }
  }
  img:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  h2 {
    margin-top: 0;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  h1 {
    margin-left: 1rem;
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    font-weight: 500;
  }
  span {
    display: flex;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 4px 10px;
    border-radius: 30px;
    border: 1px solid #fff;
    font-size: 0.75rem;
  }
  .degradado {
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
  }
  p {
    font-size: 16px;
    color: #b8b0b0;
    margin-inline: 0.5px;
    text-wrap: wrap;
  }
  @media (max-width: 800px) {
    .card {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    img {
      width: 100%;
      height: 300px;
      margin-bottom: 1rem;
    }
  }
</style>
