---
import Angular from "./logos/AngularLogo.astro";
import Cplus from "./logos/Cplus.astro";
import Css from "./logos/Css.astro";
import Git from "./logos/Git.astro";
import Githup from "./logos/Githup.astro";
import Html from "./logos/Html.astro";
import Ionic from "./logos/Ionic.astro";
import Java from "./logos/Java.astro";
import Javascript from "./logos/Javascript.astro";
import Mongodb from "./logos/Mongodb.astro";
import Mysql from "./logos/Mysql.astro";
import Node from "./logos/Node.astro";
import Phyton from "./logos/Phyton.astro";
import React from "./logos/React.astro";
import Skillslogo from "./logos/Skillslogo.astro";
import Tyscript from "./logos/Tyscript.astro";
import Vue from "./logos/Vue.astro";
import Astrologo from "./logos/Astrologo.astro";

import { getI18N } from "@/i18n";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const softSkills = [
  {
    title: `${i18n.TITLE_SOFT_1}`,
    softChaild: [
      `${i18n.UL_SOFT_C1}`,
      `${i18n.UL_SOFT_C2}`,
      `${i18n.UL_SOFT_C3}`,
      `${i18n.UL_SOFT_C4}`
    ],
  },
  {
    title: `${i18n.TITLE_SOFT_2}`,
    softChaild: [
      `${i18n.UL_SOFT_I1}`,
      `${i18n.UL_SOFT_I2}`,
      `${i18n.UL_SOFT_I3}`,
      `${i18n.UL_SOFT_I4}`,
    ],
  },
  {
    title: `${i18n.TITLE_SOFT_3}`,
    softChaild: [
      `${i18n.UL_SOFT_R1}`,
      `${i18n.UL_SOFT_R2}`,
      `${i18n.UL_SOFT_R3}`,
      `${i18n.UL_SOFT_R4}`,
    ],
  },
  {
    title: `${i18n.TITLE_SOFT_4}`,
    softChaild: [
      `${i18n.UL_SOFT_T1}`,
      `${i18n.UL_SOFT_T2}`,
      `${i18n.UL_SOFT_T3}`,
      `${i18n.UL_SOFT_T4}`,
    ],
  },
  {
    title: `${i18n.TITLE_SOFT_5}`,
    softChaild: [
      `${i18n.UL_SOFT_A1}`,
      `${i18n.UL_SOFT_A2}`,
      `${i18n.UL_SOFT_A3}`,
      `${i18n.UL_SOFT_A4}`,
    ],
  },
  {
    title: `${i18n.TITLE_SOFT_6}`,
    softChaild: [
      `${i18n.UL_SOFT_L1}`,
      `${i18n.UL_SOFT_L2}`,
      `${i18n.UL_SOFT_L3}`,
      `${i18n.UL_SOFT_L4}`,
    ],
  },
  {
    title:`${i18n.TITLE_SOFT_7}`,
    softChaild: [
      `${i18n.UL_SOFT_CA1}`,
      `${i18n.UL_SOFT_CA2}`,
      `${i18n.UL_SOFT_CA3}`,
      `${i18n.UL_SOFT_CA4}`,
    ],
  },
  {
    title: `${i18n.TITLE_SOFT_8}`,
    softChaild: [
      `${i18n.UL_SOFT_I1}`,
      `${i18n.UL_SOFT_I2}`,
      `${i18n.UL_SOFT_I3}`,
      `${i18n.UL_SOFT_I4}`,
    ],
  },
];
const logos = [
  { title: "HTML", logo: Html },
  { title: "Css", logo: Css },
  { title: "Ionic", logo: Ionic },
  { title: "Phyton", logo: Phyton },
  { title: "Vue.js", logo: Vue },
  { title: "Angular", logo: Angular },
  { title: "Node.js", logo: Node },
  { title: "Mysql", logo: Mysql },
  { title: "React", logo: React },
  { title: "Mongodb", logo: Mongodb },
  { title: "Tyscript", logo: Tyscript },
  { title: "Javascript", logo: Javascript },
  { title: "Java", logo: Java },
  { title: "C++", logo: Cplus },
  { title: "Git", logo: Git },
  { title: "Githup", logo: Githup },
  { title: "Astro", logo: Astrologo },
];
const { id } = Astro.props;

---

<section id={id}>
  <div class="header">
    <Skillslogo />
    <h1>{i18n.TITLE_STACK}</h1>
  </div>
  <div>
    <div class="title">
      <h3>{i18n.SUBTITLE_STACK_1}</h3>
      <span>Languages & Frameworks</span>
    </div>
    <div class="grid">
      {
        logos.map((logo) => (
          <div class="logos">
            <logo.logo width="44" heigth="44" />
            <span>{logo.title}</span>
          </div>
        ))
      }
    </div>
  </div>
  <div class="title">
    <h3>{i18n.SUTITLE_STACK_2}</h3>
    <span>{i18n.SPAN_SKILLS_1}</span>
    <div class="grid2">
      {
        softSkills.map((skill) => (
          <div class="soft">
            <h4>{skill.title}</h4>
            <ul>
              {skill.softChaild.map((chaild) => (
                <li>
                  <span>{chaild}</span>
                </li>
              ))}
            </ul>
          </div>
        ))
      }
    </div>
  </div>
</section>

<style>
  section {
    border: 1px solid #696767;
    border-radius: 10px;
  }
  h1 {
    margin-left: 10px;
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
  }
  .header {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
  .title {
    margin: 10px;
  }
  .title span {
    font-size: 1.5rem;
    color: #b8b5b5;
  }
  .grid {
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    place-items: center;
    margin-inline: 30px;
    padding-inline: 10px;
  }
  .grid2 {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    place-items: center;
    margin-inline: 30px;
    padding-inline: 10px;
  }
  .logos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin: 20px auto;
    border: #555151 1px solid;
    border-radius: 10px;
    background-color: rgba(1, 2, 1, 0.3);
    transition: all 0.3s ease-in-out;
    padding: 10px;
  }
  .soft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    margin: 20px auto;
    transition: all 0.3s ease-in-out;
    border: #555151 1px solid;
    border-radius: 10px;
    background-color: rgba(16, 22, 16, 0.3);
    padding: 10px 0;
    box-sizing: content-box;
  }
  .soft span {
    font-size: 0.9rem;
    color: #949393;
    line-height: 5px;
  }
  .logos span {
    font-size: 1.5rem;
    color: #949393;
  }
  .logos:hover {
    transform: scale(1.1);
    background-color: rgba(1, 2, 1, 0.5);
  }
  .soft h4 {
    font-size: 1rem;
    color: #fff;
    line-height: 5px;
  }
  .soft ul {
    list-style: none;
    padding: 0;
  }
  .soft:hover {
    transform: scale(1.1);
    background-color: rgba(16, 22, 16, 0.5);
  }
</style>
